#main-nav {
  border-bottom: 2px blue solid;
  opacity: 0.9;
}
div.outer-layout {
  background-color: #333;
  position: relative;
  top: 0px;
  left: 0px;
  opacity: 1;
}
div.inner-layout {
  padding-top: 5px;
}
#about {
  position: relative;
  top: -15px;
  left: 0px;
  background-color: yellow;
}
#share {
  position: relative;
  top: -15px;
  left: 0px;
  background-color: yellow;
}
body {
  background-image: url("https://www.bing.com/th?id=OIP.emuBpiv1EgyusLLW0Xmn0AHaEo&w=148&h=100&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.9;
}
